@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root{
	--main-anim-delay: 0.5s;
	--head-anin-delay: calc(var(--main-anim-delay) + 0.6s + 0.6s);
}
body{
	font-family: 'Georama';
	animation: slide 1s ease;
}center{
	position: relative;
}
.head{
	transform: translateY(-103px);
	background-color: orange;
	width: 100%;
	animation: slide_down 1s cubic-bezier(0.96,-0.02, 0.73, 0.8);
	animation-delay: var(--head-anin-delay);
	animation-fill-mode: forwards; 
}.head_img  {
	clip-path: circle();
	animation: head_img_slide 1s cubic-bezier(.68,.84,1,-0.18), head_text_n_image_scale 1s cubic-bezier(.68,.84,1,-0.18);
	animation-delay: calc(var(--head-anin-delay) + 1s);
	animation-fill-mode: forwards; 
}
.head_text{
	animation: head_text_slide 1s cubic-bezier(.68,.84,1,-0.18), head_text_n_image_scale 1s cubic-bezier(.68,.84,1,-0.18);
	animation-delay: calc(var(--head-anin-delay) + 1s);
	animation-fill-mode: forwards; 
}
.hellomsg{
	font-weight: normal;
	font-style: italic;
	font-size: 60px;
} .small_hr {
  border:none;
  border-top:1px solid;
  margin:1em 15%;
  animation: slide 1s ease;
} .projects{
	
} .horizontal_div{
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
} #about1_img{
	/*position: absolute;
	z-index: 1;*/
} #about1{
	font-family: 'VT323';
	color: green;
	width: 500px;
	background-image: url("assets/imgs/window_black.png");
	background-repeat: no-repeat;
}#about1_group{
  	text-align: center;
	text-overflow: ellipsis;
 	overflow: hidden;
} .hellomsg1{
	opacity: 0;
	animation: slide_up_fade_in 0.6s ease-out;
	animation-delay: var(--main-anim-delay);
	animation-fill-mode: forwards; 
} .hellomsg2{
	opacity: 0;
	animation: slide_side_fade_in 0.6s ease-out;
	animation-delay: calc(var(--main-anim-delay) + 0.6s);
	animation-fill-mode: forwards; 
} .about_section{
	margin: 10px;
	font-style: italic;
	color: white;
} .socialmedia_text{
	font-size: 14px;
	transition: font-size;
	transition-duration: 1s;
} .socialmedia_text:hover{
	font-size: 30px;
}.bg{
	position: absolute;
	z-index: 1;
	background-image: url("assets/imgs/bg.png");
	background-repeat: repeat-y;
	background-size: 1000px;
	animation: bg_sliding_anim 1s linear infinite;
	width: 100%;
	height: 100%;
} .BG_MAIN__ *{
	position: relative;
	z-index: 2;
} .VT323_STYLE{
	color: green; font-family: VT323;
}
/* Animations */
@keyframes slide{
	from{
		transform: translateX(-100%);
	} to{
		transform: translateX(0px);
	}
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
} 
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
@keyframes slide_up_fade_in{
	from { transform: translateY(-100px); opacity: 0;	}
	to { transform: translateY(0px); opacity: 1; }
}
@keyframes slide_side_fade_in{
	from { transform: translateX(-100px); opacity: 0;	}
	to { transform: translateX(0px); opacity: 1; }
}
@keyframes slide_down {
	from { transform: translateY(-100px); }
	to { transform: translateY(0px); }
}
@keyframes bg_sliding_anim{
	from, to {
		background-position: 0 0;
	}
	50% {
		background-position: 0 100%;
	}
}
@keyframes head_text_slide{
	0%{
		transform: translateX(0%);
	} 100%{
		transform: translateX(-30%);
	}
}
@keyframes head_img_slide{
	0%{
		transform: translateX(0%);
	} 100%{
		transform: translateX(-100%);
	}
}
@keyframes head_text_n_image_scale{
	0%{
		transform: scale(1);
	} 100%{
		transform: scale(0.6);
	}
}